<!DOCTYPE html>
<html lang="es" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <table>
        <thead>
            <tr>
                <td></td>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Email</td>
                <td>Password</td>
            </tr>
        </thead>
        <tbody>
            <tr th:object="${usuario}">
                <td>Usuario</td>
                <td th:text="*{nombre}"></td>
                <td th:text="*{apellido}"></td>
                <td th:text="*{email}"></td>
                <td th:text="*{password}"></td>
            </tr>
        </tbody>
    </table>
    <h2 th:if="${productos.isEmpty()}">No hay productos</h2>
    <table th:if="${not productos.isEmpty()}">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Descripcion</td>
                <td>Precio</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="producto: ${productos}" th:object="${producto}">
                <td th:text="*{nombre}"></td>
                <td th:text="*{descripcion}"></td>
                <td th:text="*{precio}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>